<div class="row home">

    <div class="calendar-block col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
         ng-if="isUserAuth()">
        <div ui-calendar="uiConfig.calendar" ng-model="booking"></div>
    </div>

    <!-- preloader -->
    <div class="row" ng-hide="bookingLoad">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 80px;">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
         ng-if="isUserAuth() && bookingLoad">
        <div class="row">
            <div class="order-time-step col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-class="{'disable-time-slot':booking.is_booked}" ng-repeat="booking in booking">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 text-center">
                        <h4>[[ booking.time_start ]] - [[ booking.time_end ]]</h4>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 text-center">
                        <md-button class="md-raised" ng-hide="booking.is_booked" ng-click="makeOrder(booking)">
                            <i class="fa fa-plus fa-md"></i> Order
                        </md-button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="starter-template" ng-hide="isUserAuth()">
    <p class="lead animated zoomIn">

    <h2 class="main-greet animated fadeInUp">

        Welcome!<br>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-button class="md-raised md-primary" ui-sref="auth-registration">Sign Up</md-button>
            <md-button class="md-raised md-primary" ui-sref="auth-login">Login</md-button>
            <md-button class="md-raised md-warn btn btn-block" ng-click="authenticate('google')">Sign in with Google</md-button>
        </div>
    <!--
        <section id="socialLoginForm" ng-hide="isUserClick">
                    <a href="{%  url 'social:begin' 'facebook' %}">
                        <i class="fa fa-facebook-official fa-4x"></i>
                    </a>
                    <a href="{%  url 'social:begin' 'github' %}">
                        <i class="fa fa-github fa-4x"></i>
                    </a>
        </section>

 -->

    </h2>
    </p>
</div>